.barcode-wrap {
    font: 14px monospace;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    color: black;
    border: 1px dotted rgb(204, 204, 204);
    text-align: center;
    justify-content: center;
    max-width: 244px;
}
