// font CDN ===================================>
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
// End font CDN ===============================>

// Start Body ===========================================>
body {
  background-color: var(--bg-color);
  font-family: "Assistant", "Noto Sans Bengali", sans-serif;
  @include scrollbar;
  ::selection {
    background-color: var(--theme-color);
    color: var(--white-color);
  }
  .cursor-pointer {
    cursor: pointer;
  }
}
// End Body ===========================================>

// Start focus ===========================================>
*:focus {
  box-shadow: none !important;
}
// End focus ===========================================>

// Start a tag ===========================================>
a {
  color: var(--theme-color);
  &:hover {
    color: var(--theme-darken);
  }
}
// End a tag ===========================================>

// Start main bar ===========================================>
.main-bar {
  margin-left: 280px;
  margin-top: 70px;
  &.main-bar-expand {
    margin-left: 0;
  }
  @media only screen and (max-width: 1400px) {
    margin-left: 0;
  }
  @media print{
    margin-top: 0;
  }
}
// End main bar ===========================================>

// Start bg color ===========================================>
.bg-primary {
  background-color: var(--theme-color) !important;
}
.bg-success {
  background-color: var(--success-color) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-danger {
  background-color: var(--danger-color) !important;
}
// End bg color ===========================================>

// Start text color ===========================================>
.text-primary {
  color: var(--theme-color) !important;
}
.text-success {
  color: var(--success-color) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.text-danger {
  color: var(--danger-color) !important;
}
// End text color ===========================================>

// Start Wrapper ===========================================>
.widget {
  background-color: var(--white-color);
  @include scrollbar;
  padding: 1rem 0;
  .widget-head {
    padding: 0 1rem;
    @include scrollbar;
  }
  .title-sm {
    font-weight: bold;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
  .widget-body {
    padding: 0 1rem;
    @include scrollbar;
  }
  .widget-foot {
    border-top: 1px solid var(--bg-color);
    padding: 0 1rem;
    @include scrollbar;
  }
  .navbar {
    padding: 0;
    .nav-item {
      padding: 0 10px;
      &:first-child {
        padding-left: 0;
      }
      .nav-link {
        font-size: 16px;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all ease 0.3s;
        color: var(--secondary-color);
        &:hover {
          box-shadow: $common-shadow;
        }
        &.active {
          background-color: var(--theme-color);
          color: white;
        }
      }
    }
  }
}
// End Wrapper ===========================================>

// Start print ===========================================>
.print-header {
  display: none;
  justify-content: center;
  border-bottom: 1px solid #378392;
  h4 {
    color: #378392;
    font-weight: bold;
    font-size: 26px;
  }
  h5 {
    background: #378392 !important;
    padding: 6px 20px !important;
    display: inline-block;
    font-weight: 400;
    font-size: 17px !important;
    color: #fff !important;
    position: relative;
    margin-top: 10px;
  }
  .logo {
    width: 90px;
    height: 90px;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  figure {
    width: 115px;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
    p {
      font-size: 14px;
      text-align: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.print-show {
  display: none;
}
@media print {
  body {
    background-color: transparent;
  }
    aside, header{
        display: none !important;
    }
    .main-bar{
        margin-left: 0;
    }
  .print-show {
    display: block;
  }
  .print-none {
    display: none !important;
  }
  .print-header {
    display: flex;
  }
  .table-responsive{
    overflow-x: inherit;
  }
}
// End print ===========================================>

// Start List ==========================>
ul {
  list-style-type: none;
  padding-left: 0;
}
// End List ==========================>

// Start typography ==========================>
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  color: var(--black-color);
}
small {
  color: var(--secondary-color);
}
.text-muted {
  color: var(--secondary-color) !important;
}
// End typography ==========================>

// Start accordion ===============================>
.accordion {
  .accordion-item,
  .accordion-button {
    background-color: var(--white-color);
    color: var(--black-color);
  }
  .accordion-button {
    &:not(.collapsed) {
      background-color: var(--bg-color);
    }
  }
}
// End accordion ===============================>

// Start card ===================================>
.card {
  border-radius: 0;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  border-color: var(--light-color) !important;
  .card-header,
  .card-footer {
    border-color: var(--light-color);
  }
  .card-img {
    border-radius: 0;
  }
}
// End card ===================================>

// Start stats-icon ===================================>
.stats-icon {
  color: var(--theme-color);
  width: 42px;
  height: 42px;
  background-color: var(--theme-light);
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  font-size: 0.957rem;
  &.success {
    color: var(--success-color);
    background-color: rgba($color: $success-color, $alpha: 25%);
  }
  &.warning {
    color: var(--warning-color);
    background-color: rgba($color: $warning-color, $alpha: 25%);
  }
  &.danger {
    color: var(--danger-color);
    background-color: rgba($color: $danger-color, $alpha: 25%);
  }
}
// End stats-icon ===================================>

// Start alert ===================================>
.alert {
  border-radius: 0;
  border: none;
  &.alert-primary {
    background-color: var(--theme-light);
  }
}
#liveAlertPlaceholder {
  position: fixed;
  top: 50px;
  z-index: 999;
  right: 20px;
  max-width: 500px;
  .alert {
    margin-top: 10px;
    border: 1px solid var(--secondary-color);
  }
}
// End alert ===================================>

// Start list group ===================================>
.list-group {
  border-radius: 0;
  .list-group-item {
    background-color: var(--white-color);
    border-color: var(--light-color);
    color: var(--secondary-color);
    &.active {
      background-color: var(--theme-color);
      color: var(--white-color);
      .form-check-label {
        color: var(--white-color);
        font-weight: bold;
      }
      .form-check-input {
        border: 1px solid var(--bg-color);
      }
      .badge {
        background-color: var(--white-color);
        color: var(--theme-color);
      }
    }
    .badge {
      background-color: var(--theme-color);
    }
  }
}
// End list group ===================================>

// Start modal ===================================>
.modal-content {
  border-radius: 0;
  background-color: var(--white-color);
  .modal-header,
  .modal-footer {
    padding: 10px;
  }
  .modal-footer {
    border: 0;
  }
  .modal-body {
    color: var(--black-color);
  }
}
// End modal ===================================>

// Start toast ===================================>
.toast-container {
  .toast {
    border-radius: 0;
    border-color: var(--light-color);
    .toast-header {
      background-color: var(--bg-color);
      border-radius: 0;
    }
    .toast-body {
      background-color: var(--white-color);
      color: var(--black-color);
    }
    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
}
// End toast ===================================>

// Start Offcanvas ===================================>
.offcanvas {
  .offcanvas-body {
    color: var(--black-color) !important;
  }
}
// End Offcanvas ===================================>

// Start nav tabs ===================================>
.nav-tabs {
  border-color: var(--theme-color);
  .nav-link {
    border-radius: 0;
    color: var(--theme-color);
    &.active {
      border-color: var(--theme-color);
      border-bottom: 0;
      background-color: var(--white-color);
      color: var(--black-color);
    }
  }
}
.tab-content {
  color: var(--black-color);
  margin-top: 10px;
}
// End nav tabs ===================================>

// Start badge ===================================>
.badge {
  border-radius: 0;
  &.bg-primary {
    background-color: var(--theme-color) !important;
  }
}
// End badge ===================================>

// Start pagination ===================================>
.pagination {
  margin-bottom: 0;
  .page-item {
    .page-link {
      color: var(--theme-color);
      background-color: var(--white-color);
      border-color: var(--light-color);
      &:hover {
        background-color: var(--bg-color);
      }
    }
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }
    &:first-child {
      .page-link {
        border-radius: 0;
      }
    }
    &.active {
      .page-link {
        background-color: var(--theme-color);
        border-color: var(--theme-color);
        color: white;
      }
    }
    &.disabled {
      .page-link {
        color: var(--secondary-color);
      }
    }
  }
}
// End pagination ===================================>

// Start progress ===================================>
.progress {
  border-radius: 0;
  .progress-bar {
    background-color: var(--theme-color);
  }
}
// End progress ===================================>
// Start map ===================================>
.map {
  path {
    fill: var(--theme-darken);
    transition: all ease 0.3s;
    &:hover {
      fill: var(--theme-color);
    }
  }
}
// End map ===================================>

// Start c3 ===================================>
.c3 {
  .tick,
  .c3-legend-item,
  .c3-chart-arcs-title {
    fill: var(--black-color);
  }
}
// End c3 ===================================>

// Start form widget ========================>
.form-widget {
  .number-box {
    display: flex;
    align-items: center;
    ul {
      margin-bottom: 0;
      margin-left: 4px;
      display: flex;
      li {
        border: 1px solid #ccc;
        background: #fff;
        width: 28px;
        height: 28px;
        border-right: none;
        text-align: center;
        &:last-child {
          border-right: 1px solid #ccc;
        }
      }
    }
    &.date {
      ul {
        li {
          &:last-child {
            width: 45px;
          }
        }
      }
    }
  }
  .form-widget-body {
    .control-label {
      margin-bottom: 5px;
      line-height: 26px;
      height: 26px;
      font-size: 14px;
      font-weight: 600;
    }
    .control_title {
      border: 1px solid #ccc;
      padding: 2px 15px;
      border-radius: 2px;
      font-size: 14px;
    }
    hr {
      margin: 5px 0 3px 0;
    }
    figure {
      width: 110px;
      height: 130px;
      display: flex;
      align-items: center;
      background-color: #dddddd;
      border: 1px solid #bbbbbb;
      p {
        font-size: 14px;
        text-align: center;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .signature {
      margin-top: 64px;
      p {
        padding: 0 20px;
        display: inline-block;
        border-top: 1px dotted #000000;
      }
    }
  }
}
// End form widget ========================>

// Start borderd content ====================>
.borderd-content {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  position: relative;
  margin-top: 6px;
  .title {
    margin: -7px 0 0 10px;
    background: var(--white-color);
    line-height: 13px;
    text-transform: uppercase;
    font-size: large;
    display: inline-block;
    font-weight: bold;
    position: absolute;
  }
  .content {
    padding: 20px;
  }
}

// End borderd content ====================>
